<section class="contact-section">
  <div class="contact-header">
    <h2>{{ 'contact.title' | translate }}</h2>
    <div class="contact-underline"></div>
    <p>
      {{ 'contact.subtitle' | translate }}
    </p>
  </div>

  <div class="map-card modern-map">
    <div id="contact-map"></div>

    <div class="map-overlay">
      <h3>{{ 'contact.findUs' | translate }}</h3>
      <div class="section-flag"></div>

      <p>
        {{ 'contact.addressLine1' | translate }}<br />
        {{ 'contact.addressLine2' | translate }}
      </p>

      <div class="mini-contact">
        <span>{{ 'contact.phone' | translate }}</span>
        <span>{{ 'contact.email' | translate }}</span>
      </div>

      <a
        class="map-btn"
        href="https://www.google.com/maps/search/?api=1&query=Lúčna+113/31,+013+13+Rajecké+Teplice"
        target="_blank"
        rel="noopener noreferrer">
        {{ 'contact.navigate' | translate }}
      </a>
    </div>
  </div>
</section>